<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296214016227-442irbcovfnfs32m4pod8bl91faarl31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296214016227-442irbcovfnfs32m4pod8bl91faarl31</string>
	<key>API_KEY</key>
	<string>AIzaSyAea2KHpSnHjjAHNdhxyWMr_f4kvswyB8k</string>
	<key>GCM_SENDER_ID</key>
	<string>296214016227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabing.allYouCanEat</string>
	<key>PROJECT_ID</key>
	<string>all-you-can-eat-42b69</string>
	<key>STORAGE_BUCKET</key>
	<string>all-you-can-eat-42b69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296214016227:ios:b1960475e03e933b5995d6</string>
</dict>
</plist>